/* The Modal (background) */
.modal {
  display: none;
  margin-top: -45px;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text {
  padding: 40px;
  width: 60%;
  font-size: 17px;
  display: block;
  margin: auto;
}

#runButton {
  /* border: 2px solid green;
    background: white;
    padding: 9px;
    width: 140px;
    border-radius: 4px;
    color: black;
    font-size: medium;
    position: absolute;
    opacity: 0.8;
    margin-left: -60px; */
  background: white;
  padding: 9px;
  width: 140px;
  border-radius: 4px;
  color: black;
  font-size: small;
  position: absolute;
  opacity: 0.8;
  margin-left: -60px;
}

#runButton:hover {
  /* opacity: 1;
    background:lightcoral !important;
    color: white !important; */
  cursor: pointer;
}

.done {
  color: black !important;
  background-color: white !important;
}

.run {
  opacity: 1 !important;
  background: green !important;
  color: white !important;
}

#clock {
  border: 2px solid gray;
  border-radius: 5px;
  margin-left: 90px;
  padding: 9px;
  /* width: 140px; */
  font-size: medium;
  position: absolute;
}

.stop {
  opacity: 1 !important;
  background: lightcoral !important;
  color: white !important;
}

#doneButton:hover {
  opacity: 1;
  background: plum;
  color: white;
  cursor: pointer;
}

#doneButton {
  /* border: 2px solid plum;
    background: white;
    padding:9px;
    width: 140px;
    margin-left: -210px;
    border-radius: 4px;
    color: black;
    font-size: medium;
    position: absolute;
    opacity: 0.8; */
  border: 2px solid plum;
  background: white;
  padding: 9px;
  width: 140px;
  margin-left: -210px;
  border-radius: 4px;
  color: black;
  font-size: small;
  position: absolute;
  opacity: 0.8;
}

#nextButton {
  border: 2px solid blue;
  transition-duration: 0.4s;
  background: white;
  padding: 9px;
  width: 140px;
  border-radius: 4px;
  color: black;
  font-size: small;
  position: absolute;
  opacity: 0.8;
}

#nextButton:hover {
  cursor: pointer;
  background-color: blue; /* Green */
  color: white;
}

#backButton {
  border: 2px solid red;
  transition-duration: 0.4s;
  background: white;
  padding: 9px;
  width: 140px;
  border-radius: 4px;
  color: black;
  font-size: small;
  position: absolute;
  opacity: 0.8;
}

#backButton:hover {
  cursor: pointer;
  background-color: red;
}

/* p{
    font-size: 12px;
  } */

#img_div img {
  height: auto;
  max-height: 25vh;
  width: auto;
  max-width: 350px;
}

header {
  background-color: green;
  width: 100%;
}

h1 {
  width: 50%;
  margin: auto;
  color: #fff;
  font-size: 2em;
  line-height: 2.4em;
  text-align: center;
}

.blockly-editor {
  width: 40%;
  height: 100%;
  position: relative;
}

#blocklyDiv {
  /* height: 800px;
      width: 800px;
      margin-top: 10px; */
  height: 500px;
  width: 700px;
  margin-top: 10px;
}

.wrapper {
  display: flex;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

@media (min-width: 1400px) {
  .wrapper {
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
  }
}
.simulation {
  width: 490px;
  height: 510px;
  position: relative;
  background: lightgray;
  margin-right: 40px;
}

#bear {
  z-index: 2;
  left: 80px;
  bottom: 90px;
  width: 35px;
  height: auto;
  position: absolute;
}

#car {
  z-index: 2;
  left: 500px;
  bottom: 200px;
  width: 70px;
  height: auto;
  position: absolute;
}

#duck {
  z-index: 2;
  left: 500px;
  bottom: 200px;
  width: 70px;
  height: auto;
  position: absolute;
}

#toy-img {
  width: 100%;
  height: auto;
}

#room-txt {
  position: absolute;
  margin: 3px 10px;
  z-index: 3;
}

#runButton {
  border: 1px solid lightgray;
  background: lightgreen;
  padding: 10px;
  width: 140px;
  /* margin-top: -40px;
      margin-left: 660px; */
  border-radius: 4px;
  color: black;
  font-size: medium;
  position: absolute;
  opacity: 0.8;
}

#stopButton {
  border: 1px solid lightgray;
  background: lightcoral;
  padding: 10px;
  width: 140px;
  /* margin-top: -40px; */
  margin-left: -160px;
  border-radius: 4px;
  color: black;
  font-size: medium;
  position: absolute;
  opacity: 0.8;
}

#controls {
  margin-top: -45px;
  margin-left: 120%;
  position: absolute;
  /* margin-top: -40px;
      margin-left: 660px;
      position: absolute; */
}

#stopButton:hover {
  opacity: 1;
}

#runButton:hover {
  opacity: 1;
}

#person-img {
  width: auto;
  height: 120px;
}

#person {
  z-index: 2;
  left: 500px;
  bottom: 600px;
  width: 70px;
  height: auto;
  position: absolute;
}

#code {
  display: none;
}

#porch {
  width: 100px;
  height: 250px;
  position: absolute;
  margin: 10px;
  z-index: 2;
  background: none;
  background: lightgoldenrodyellow;
  /* background: #d4f8d3; */
}

#porch-img {
  object-fit: cover;
  width: 100px;
  height: 250px;
  opacity: 0.8;
}

#bedroom {
  width: 360px;
  height: 250px;
  position: absolute;
  margin: 10px;
  margin-left: 120px;
  z-index: 1;
  background: lightcyan;
}

#bedroom-img {
  object-fit: cover;
  width: 360px;
  height: 250px;
  opacity: 0.7;
}

#kitchen {
  width: 230px;
  height: 230px;
  position: absolute;
  margin-top: 270px;
  margin-left: 10px;
  z-index: 1;
  /* background: darkolivegreen; */
}

#kitchen-img {
  object-fit: cover;
  width: 230px;
  height: 230px;
  opacity: 0.7;
}

#playroom {
  width: 230px;
  height: 230px;
  margin-top: 270px;
  margin-left: 250px;
  z-index: 1;
  background: lightpink;
  margin-right: 10px;
}

#playroom-img {
  object-fit: cover;
  width: 230px;
  height: 230px;
  opacity: 0.5;
}

#robot {
  width: 90px;
  height: auto;
  left: 280px;
  bottom: 320px;
  z-index: 3;
  position: absolute;
}

#robot-img {
  width: 100%;
  height: auto;
}

#room-txt {
  position: absolute;
  margin: 3px 10px;
  z-index: 2;
  padding: 0px 5px;
  background-color: white;
}

#controls {
  margin-top: -45px;
  margin-left: 120%;
  position: absolute;
  /* margin-top: -40px;
    margin-left: 660px;
    position: absolute; */
}

#stopButton:hover {
  opacity: 1;
}

#runButton:hover {
  opacity: 1;
}

#person-img {
  width: auto;
  height: 160px;
}

#person {
  z-index: 2;
  left: 200px;
  bottom: 310px;
  width: 40px;
  height: auto;
  position: absolute;
}

#code {
  display: none;
}

#toy-img {
  width: 100%;
  height: auto;
}

#coffee-img {
  width: 100%;
  height: auto;
}

#coffee {
  z-index: 4;
  left: 50px;
  bottom: 320px;
  width: 40px;
  height: auto;
  position: absolute;
  filter: drop-shadow(0 0 20px white);
}

#mail-img {
  width: 100%;
  height: auto;
}

#mail {
  z-index: 4;
  left: 30px;
  bottom: 320px;
  width: 50px;
  height: auto;
  position: absolute;
  filter: drop-shadow(0 0px 5px white);
}

#bear {
  z-index: 3;
  left: 80px;
  bottom: 90px;
  width: 45px;
  height: auto;
  position: absolute;
  filter: drop-shadow(0 0 30px white);
}

#car {
  z-index: 3;
  left: 100px;
  bottom: 90px;
  width: 50px;
  height: auto;
  position: absolute;
  /* filter: drop-shadow(0 0 10px white); */
}

#toy4 {
  z-index: 3;
  left: 100px;
  bottom: 90px;
  width: 50px;
  height: auto;
  position: absolute;
  /* filter: drop-shadow(0 0 10px white); */
}

#duck {
  z-index: 3;
  left: 120px;
  bottom: 90px;
  width: 55px;
  height: auto;
  position: absolute;
  /* filter: drop-shadow(0 0 10px white); */
}

#toy-img {
  width: 100%;
  height: auto;
}
