header {
  background-color: green;
  width: 100%;
}

h1 {
  width: 50%;
  margin: auto;
  color: #fff;
  font-size: 2em;
  line-height: 2.4em;
  text-align: center;
}

.blockly-editor {
  width: 40%;
  height: 100%;
  position: relative;
}

#blocklyDiv {
  /* height: 800px;
  width: 800px;
  margin-top: 10px; */
  height: 500px;
  width: 700px;
  margin-top: 10px;
}

#robot_toy {
  position: absolute;
  /* left: 120px;
  bottom: 200px; */
  z-index: 2;
}

.wrapper {
  display: flex;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

@media (min-width: 1400px) {
  .wrapper {
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
  }
}

.simulation {
  /* width: 1600px;
  height: 800px;
  position: relative;
  background: lightgray;
  margin-right: 40px; */
  width: 490px;
  height: 510px;
  position: relative;
  background: lightgray;
  margin-right: 40px;
}

#porch {
  width: 100px;
  height: 250px;
  position: absolute;
  margin: 10px;
  z-index: 2;
  background: #d4f8d3;
}

#bedroom {
  width: 360px;
  height: 250px;
  position: absolute;
  margin: 10px;
  margin-left: 120px;
  z-index: 1;
  background: lightcyan;
}

#kitchen {
  width: 230px;
  height: 230px;
  position: absolute;
  margin-top: 270px;
  margin-left: 10px;
  z-index: 1;
  background: lightgoldenrodyellow;
}

#playroom {
  width: 230px;
  height: 230px;
  margin-top: 270px;
  margin-left: 250px;
  z-index: 1;
  background: lightpink;
  margin-right: 10px;
}

#robot {
  width: 80px;
  height: auto;
  left: 200px;
  bottom: 320px;
  z-index: 3;
  position: absolute;
}

#robot-img {
  width: 100%;
  height: auto;
}

#bear {
  z-index: 3;
  left: 80px;
  bottom: 90px;
  width: 35px;
  height: auto;
  position: absolute;
}

#car {
  z-index: 3;
  left: 100px;
  bottom: 90px;
  width: 40px;
  height: auto;
  position: absolute;
}

#toy4 {
  z-index: 3;
  left: 100px;
  bottom: 90px;
  width: 40px;
  height: auto;
  position: absolute;
}

#duck {
  z-index: 3;
  left: 120px;
  bottom: 90px;
  width: 35px;
  height: auto;
  position: absolute;
}

#toy-img {
  width: 100%;
  height: auto;
}

#room-txt {
  position: absolute;
  margin: 3px 10px;
  z-index: 2;
}

#runButton {
  border: 1px solid lightgray;
  background: lightgreen;
  padding: 10px;
  width: 140px;
  /* margin-top: -40px;
  margin-left: 660px; */
  border-radius: 4px;
  color: black;
  font-size: medium;
  position: absolute;
  opacity: 0.8;
}

#stopButton {
  border: 1px solid lightgray;
  background: lightcoral;
  padding: 10px;
  width: 140px;
  /* margin-top: -40px; */
  margin-left: -160px;
  border-radius: 4px;
  color: black;
  font-size: medium;
  position: absolute;
  opacity: 0.8;
}

#controls {
  margin-top: -45px;
  margin-left: 120%;
  position: absolute;
  /* margin-top: -40px;
  margin-left: 660px;
  position: absolute; */
}

#stopButton:hover {
  opacity: 1;
}

#runButton:hover {
  opacity: 1;
}

#person-img {
  width: auto;
  height: 120px;
}

#person {
  z-index: 2;
  left: 500px;
  bottom: 600px;
  width: 70px;
  height: auto;
  position: absolute;
}

#code {
  display: none;
}

header {
  background-color: green;
  width: 100%;
}

h1 {
  width: 50%;
  margin: auto;
  color: #fff;
  font-size: 2em;
  line-height: 2.4em;
  text-align: center;
}

.blockly-editor {
  width: 40%;
  height: 100%;
  position: relative;
}

#blocklyDiv {
  /* height: 800px;
  width: 800px;
  margin-top: 10px; */
  height: 500px;
  width: 700px;
  margin-top: 10px;
}

#robot_toy {
  position: absolute;
  /* left: 120px;
  bottom: 200px; */
  z-index: 2;
}

.wrapper {
  display: flex;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

@media (min-width: 1400px) {
  .wrapper {
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
  }
}

/* @media (min-width: 1440px) {
  .wrapper {
    -ms-transform: translate(-50%, -5%);
    transform: translate(-50%, -75%);
  }
} */

.simulation {
  /* width: 1600px;
  height: 800px;
  position: relative;
  background: lightgray;
  margin-right: 40px; */
  width: 490px;
  height: 510px;
  position: relative;
  background: lightgray;
  margin-right: 40px;
}

#porch {
  width: 100px;
  height: 250px;
  position: absolute;
  margin: 10px;
  z-index: 2;
  background: #d4f8d3;
}

#porch-img {
  object-fit: cover;
  width: 100px;
  height: 250px;
}

#bedroom {
  width: 360px;
  height: 250px;
  position: absolute;
  margin: 10px;
  margin-left: 120px;
  z-index: 1;
  background: lightcyan;
}

#bedroom-img {
  object-fit: cover;
  width: 360px;
  height: 250px;
}

#kitchen {
  width: 230px;
  height: 230px;
  position: absolute;
  margin-top: 270px;
  margin-left: 10px;
  z-index: 1;
  background: lightgoldenrodyellow;
}

#kitchen-img {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

#playroom {
  width: 230px;
  height: 230px;
  margin-top: 270px;
  margin-left: 250px;
  z-index: 1;
  background: lightpink;
  margin-right: 10px;
}

#playroom-img {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

#robot {
  width: 80px;
  height: auto;
  left: 280px;
  bottom: 320px;
  z-index: 3;
  position: absolute;
}

#robot-img {
  width: 100%;
  height: auto;
}

#room-txt {
  position: absolute;
  margin: 3px 10px;
  z-index: 2;
  padding: 0px 5px;
  background-color: white;
}

#runButton {
  border: 1px solid lightgray;
  background: lightgreen;
  padding: 10px;
  width: 140px;
  /* margin-top: -40px;
  margin-left: 660px; */
  border-radius: 4px;
  color: black;
  font-size: medium;
  position: absolute;
  opacity: 0.8;
}

#stopButton {
  border: 1px solid lightgray;
  background: lightcoral;
  padding: 10px;
  width: 140px;
  /* margin-top: -40px; */
  margin-left: -160px;
  border-radius: 4px;
  color: black;
  font-size: medium;
  position: absolute;
  opacity: 0.8;
}

#controls {
  margin-top: -45px;
  margin-left: 120%;
  position: absolute;
  /* margin-top: -40px;
  margin-left: 660px;
  position: absolute; */
}

#stopButton:hover {
  opacity: 1;
}

#runButton:hover {
  opacity: 1;
}

#person-img {
  width: auto;
  height: 160px;
}

#person {
  z-index: 2;
  left: 200px;
  bottom: 310px;
  width: 40px;
  height: auto;
  position: absolute;
}

#code {
  display: none;
}
